.vscode/
.DS_Store
.idea/.gitignore
.idea/compiler.xml
.idea/docker-labs.iml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/artifacts/UserSignup_war.xml
.idea/artifacts/UserSignup_war_exploded.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_3_1.xml
.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_6_1.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__javax_servlet_jstl_1_2.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
.idea/libraries/Maven__javax_transaction_jta_1_1.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__mysql_mysql_connector_java_8_0_16.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_8_13.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_1_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_4_1_9_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_4_1_9_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_validator_5_3_6_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_0_api_1_0_1_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_17_1_GA.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_1_spec_1_0_0_Final.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_25.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_2_0_0_alpha7.xml
.idea/libraries/Maven__org_slf4j_slf4j_simple_2_0_0_alpha7.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_13_23_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_1_11_23_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_25_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_25_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_25_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_25_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_25_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_25_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_3_25_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_25_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_3_25_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_25_RELEASE.xml
